repository: fyne-io/docs.fyne.io
apiversion: v2.4

# Site settings
title: Fyne.io
email: info@fyne.io
description: "Developer documentation for the Fyne toolkit"
lang: en-US

baseurl: /
url: https://docs.fyne.io
git_address: https://github.com/fyne-io/docs.fyne.io
git_edit_address: https://github.com/fyne-io/docs.fyne.io/tree/main

# theme options from https://bootswatch.com/3/
# comment out this to use default Bootstrap
bootwatch: slate # cerulean cosmo custom cyborg darkly flatly journal lumen readable sandstone simplex slate solar spacelab superhero united yeti

# Build settings
markdown: kramdown
highlighter: rouge
kramdown:
 input: GFM
 auto_ids: true
 hard_wrap: false
 syntax_highlighter: rouge
# Plugins (previously gems:)
plugins:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap

exclude:
  - Gemfile
  - Gemfile.lock
  - .idea/
  - .gitignore
  - README.md
  - vendor
  - _gen
  - gen.sh

timezone: Europe/Berlin

defaults:
- scope:
    path: ""
  values:
    layout: "page"
- scope:
    path: _posts
    type: posts
  values:
    layout: post
    sectionid: blog

collections:
  api:
    output: true

