@media only screen and (max-width: 1199px) {
div.navbar-container {
    overflow: hidden;
    max-height: 36pt;
}
}

@media only screen and (max-width: 767px) {
div.navbar-container {
    overflow: visible;
    max-height: 1000px;
}
}

.navbar-collapse.in {
    overflow-y: visible;
    margin-bottom: 10pt;
}

.navbar-collapse.in ul {
    overflow-y: hidden;
}


div.deprecated {
    padding: 7pt;
    background-color: rgba(125, 125, 125, 0.12);
}

ul.tabcontrol.tabs {
    margin: 0;
}

ul.tabcontrol.tabs li.tab {
    float:left;
    padding: 5pt 10pt;
    margin: 0;
    cursor: pointer;
    list-style-type: none;
    border-bottom: 3px solid white;
}

ul.tabcontrol.tabs li.tabcontrol.tab.active {
    font-weight: bold !important;
    border-bottom: 3px solid #999;
}

div.tabcontrol.body {
    clear: both;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

div.tabcontrol.body.fullborder {
    padding: 10px 0;
}
